*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(235, 235, 235);
    
}

body::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: hsl(200, 50%, 20%);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: fixed;
    left: 25vw;
    bottom: 0;
    width: 50%;
    min-height: 3vh;
    background-color: hsl(200, 50%, 40%);
    text-align: center;
}

main {
    margin: 4rem auto;
    width: 100%;
    max-width: 40vw;
    text-align: center;
}

@media (min-width: 480px) {
    main { max-width: 40vw;
    }
}

img {
    display: block;
    max-height: 80px;
    width: auto;
    margin: 0px auto 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > div {
    margin-bottom: 0.5rem;
    padding: 1px;
}

h3 {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}


.header-logo {
    flex-basis: 20%;
}

.header-items {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.nav-link {
    margin: 0px 5vw;
    color: white;
    text-decoration: none;
}

.form-button {
    margin-bottom: 0.75rem;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}

.form-input {
    height: 1.5rem;
    width: 33%;
    margin-bottom: 0.75rem;
}

.skiplines {
    margin: 10rem;
}

.feature-set {
    display: flex;
    margin-bottom: 1.5rem;
}

.twenty-area {
    flex-basis: 20%;
}

.eighty-area {
    flex-basis: 80%;
    text-align: left;
    margin-left: 5rem;
    margin-top: 1.0rem;
}

.images {
    display: flex;
    max-height: 100px;
    height: auto;
    width: auto;
}

.footer-flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.footer-reverse-set {
    display: flex;
    flex-direction: column;
}

.footer-reverse-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1.125rem;
}

.footer-bar > a {
    margin-left: 0.625rem;
    text-decoration: none;
    color: white;
}